body {
	font-family: Verdana, sans-serif;
	font-size: 14px;
	background: #C3E4ED;
}

h1 {
	font-size: 22px;
}

form {
	width: 400px;
}

form label {
	float: left;
	line-height: 2.7;
	margin-right: 10px;
	text-align: right;
	width: 150px;
}

form, fieldset {
	border: 0;
	padding: 7px;
	margin: 0;
	background-color: #9AC0CD;
	border-radius: 5px;
}

form ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

form li {
	padding-bottom: 12px;
}

#text-name, #text-number, #sel-animal {
	width: 220px;
	height: 30px;
	font-size: 16px;
}
#rb-gender, #cb-foods {
	margin-top: 12px;
}

#sel-animal {
	margin-top: 8px;
}

button {
	margin-left: 160px;
	background: #333;
	color: #FFF;
	border: 0;
	height: 30px;
	width: 100px;
	font-size: 14px;
	border-radius: 4px;
}

#madlib-output {
	margin-top: 20px;
	width: 350px;
}

